
.v1{
    color: darkorchid;
}
.v1p{
    color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}

h3.v2, .v2p {
    color: darkseagreen;
}


.v2p2 h2{
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div{
    color: initial;
}
.pai{
    color: royalblue ;
}

.paizao h1+p{
    color: aqua ;
}

.paizao p + h1{
    color: brown;
}

[atributo-cor-1]{
    color: darkblue;
}
[atributo-cor-2]{
    color: darkmagenta;
}

.teste:hover{
    color: darkred;
    background-color: deepskyblue;
}

a {
    color: forestgreen;
}

a:link{
    color: fuchsia;
}

a:visited{
    color: gold;
}

a:hover{
    background-color: green;
    color: grey;
    text-decoration: none;
    cursor: not-allowed;
}
a:active{
    color: hotpink;
}
 
input:focus{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
input:checked + p{ 
    background-color: khaki;
}

p:not(.nao){
    color: aqua;
}

.pseudo li::after{
    content: ' -- ';
    background-color:blue;
}

.heranca{
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heranca .fora{
    color: navajowhite;
    font-family: initial;
}

.box{
    background: lightcoral;
    width: 200px;
    height: 200px;
    max-width: none;
    max-height: none;
    min-width: none;
    min-width: none;
    overflow: auto;
    margin: none;
    padding: 10px 4px;
    border-width: none;
    border-style: solid;
    border-color: royalblue;
    font-size: 20px;

}